#main
    display: flex
    align-items: stretch
    border: 1px solid red

.sidebar__profile
    text-align: center
    width: 250px
    padding: 20px
    background-color: #111111
    color: #eee
    border: 1px solid #ccc

.main__books
    margin: 0 50px
    border: 1px solid red
    width: 100%
    transition: width 1s
    &--active
        width: 75%
    h1
        padding: 50px
        font-size: 36px

.main__bookshelf
    min-height: 100%

.bookshelf__reading,
.bookshelf__want-to-read,
.bookshelf__read
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    border: 1px solid #ccc

.main__books-wrapper
    text-align: center
    margin: 15px
    img
        margin: 5px

.books__title
    font-weight: bold
    font-size: 18px

.books__author
    font-style: italic

.sidebar__users
    background-color: #ccc
    height: 100%
    width: 0%
    transition: width 1s
    &--active
        width: 25%