include layouts/layout

block headerscripts

block content

include layouts/includes/nav

block content

    
    .dev__container
        //Matt's box
        form.dev__form
            .dev__logo-container
                div.devMatt__logo-image
                p.dev__logo-text Matt Jiles
            .dev__link-container
                 a(href='https://www.linkedin.com/in/matthewjiles/')
                    img(src='/build/linkedin.png')

            .dev__git-container
                a(href='https://github.com/UNLRN')
                    img(src='/build/github.png')

        //Duncan's box
        form.dev__form
            .dev__logo-container
                div.devDuncan__logo-image
                p.dev__logo-text Duncan Iaria
            .dev__link-container
                a(href='https://www.linkedin.com/in/duncan-iaria/')
                    img(src='/build/linkedin.png')

            .dev__git-container
                a(href='https://github.com/duncan-iaria')
                    img(src='/build/github.png')
               
        //Ryan's box
        form.dev__form
            .dev__logo-container
                div.devRyan__logo-image
                p.dev__logo-text Ryan Hardeman
            .dev__link-container
                a(href='https://www.linkedin.com/in/rkhardeman/')
                    img(src='/build/linkedin.png')

            .dev__git-container
                a(href='https://github.com/rkhardeman')
                    img(src='/build/github.png')

        //Jessica's box
        form.dev__form
            .dev__logo-container
                div.devJessica__logo-image
                p.dev__logo-text Jessica Salter
            .dev__link-container
                a(href='https://www.linkedin.com/in/jessicamsalter/' )
                    img(src='/build/linkedin.png')

            .dev__git-container
                a(href='https://github.com/salter2014')
                    img(src='/build/github.png')

block footerscripts