include layouts/layout

block headerscripts

block content

include layouts/includes/nav

block content

    //Matt's box
    .dev__container
        form.dev__form
            .dev__logo-container
                div.devMatt__logo-image
                p.dev__logo-text Matt Jiles
            .dev__link-container
            //https://www.linkedin.com/in/matthewjiles/
            .dev__git-container
             //https://github.com/UNLRN
            
        //Duncan's box
        form.dev__form
            .dev__logo-container
                div.devDuncan__logo-image
                p.dev__logo-text Duncan Iaria
            .dev__link-container
            //https://www.linkedin.com/in/duncan-iaria/

            .dev__git-container
             //https://github.com/duncan-iaria
            
        //Ryan's box
        form.dev__form
            .dev__logo-container
                div.devRyan__logo-image
                p.dev__logo-text Ryan Hardeman
            .dev__link-container
            //https://www.linkedin.com/in/rkhardeman/

            .dev__git-container
             //https://github.com/rkhardeman

        //Jessica's box
        form.dev__form
            .dev__logo-container
                div.devJessica__logo-image
                p.dev__logo-text Jessica Salter
            .dev__link-container
            //https://www.linkedin.com/in/jessicamsalter/
            .dev__git-container
            //github here

             

block footerscripts