doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/build/stylesheets/style.css')
    
    //- bundle for all frontend js and styling
    script(src='/build/bundle.js')
  body
    block content
