include ../layouts/layout.pug

block content
    h1 conversation, ye say?:
    br

    if messages
        //- cache the convo id
        //- - const convoId = messages[0].ConversationId; 
        //- div.message-container
        //-     each message in messages
        //-         div.message-sender #{ message.author.user_name }:
        //-         div.message-text #{ message.text }
        //-         br


        //-     form( action = "/api/v1/messages" method = "POST" )
        //-         input( name ="messageText" type = textfield )
        //-         input( name = "recipientId" value = bookMateId type = "hidden" )
        //-         input( name = "conversationId" value = conversationId type = "hidden" )
        //-         input( type = "submit" )