include ../layouts/layout.pug

block content
    include ../layouts/includes/nav
    
    //- show book results
    if bookCollection
        div.results
            each books in bookCollection
                each book in books
                    div #{ book.title }
                    img( src=book.img )

                    if user
                        div.button-holder( data-book = book )
                            button.book-button( data-status = 'read' ) Read
                            button.book-button( data-status = "reading") Reading
                            button.book-button( data-status = "wantToRead" ) Want To Read                    

                    else
                        div.button-holder
                            a( href="/login" )
                                button Login