include ../layouts/layout.pug

block content
    include ../layouts/includes/nav

    //- show book results
    if bookCollection
        .main__search-results
            each books in bookCollection
                each book in books
                    .main__books-wrapper(data-id='', data-book={title: book.title, author:book.author, img: book.img})
                        img.books__image(src=book.img alt="image")
                        p.books__title= book.title
                        p.books__author by #{book.author}
                        .books__status-wrapper
                            span.books__status Status
                            .books__status-options
                                ul
                                    li.books__status-option(data-status='wantToRead') Want To Read
                                    li.books__status-option(data-status='reading') Reading
                                    li.books__status-option(data-status='read') Read
                            
                    
        .sidebar__users
            .sidebar__button-close
                i.fa.fa-times.fa-1x(aria-hidden="true")
            .sidebar__heading

            .sidebar__book-wrapper

            .sidebar__user-wrapper
                    //- if user
                    //-     div.button-holder( data-book = book )
                    //-         button.book-button( data-status = 'read' ) Read
                    //-         button.book-button( data-status = "reading") Reading
                    //-         button.book-button( data-status = "wantToRead" ) Want To Read

                    //- else
                    //-     div.button-holder
                    //-         a( href="/login" )
                    //-             button Login