.nav__wrapper
    .nav__header-wrapper
        .nav__header-logo
            img(src='/build/logo.svg')
        .nav__header-title
            a(href='/') book#[span mates]
    .nav__signup-signin
        a(href='/messages') Messages
        a(href='/dashboard') Dashboard
        a(href='/login') Login
        a(href='/register') Register
    .nav__header-search
        label.nav__books-search-label
            i.fa.fa-search(aria-hidden="true")
        input.nav__books-search-input(type='text' placeholder='Search...')