.main__header
    .main__header-wrapper
        .main__header-logo
            img(src='/images/bookmates_02.png')
        .main__header-title
            h1= title
    .main__header-search
        input.main__books-search-input(type='text' placeholder='Search...')