.nav__wrapper
    .nav__header-wrapper       
        .nav__header-logo
            img(src='/images/bookmates_02.png')
        .nav__header-title
            a(href='/') bookmates
    .nav__header-search
        label.nav__books-search-label
            i.fa.fa-search(aria-hidden="true")
        input.nav__books-search-input(type='text' placeholder='Search...')