include ../layouts/layout

block headerscripts

block content
    .login-container
        form.login(method="post" action="/login")
            div.form-group
                label.input-label(for="username") Username
                input(type="text" name="username" placeholder="Enter your username" maxlength="25" required)
            div.form-group
                label.input-label(for="password") Password
                input(type="text" name="password" placeholder="Enter your password" maxlength="100"  required)
            button(type="submit") Submit

block footerscripts